@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #app, .App, #root, #app>div {
    height: 100vh;
    background-color: rgb(242, 243, 247);
  }
p, h3{
  font-family: 'Wix Madefor Text', sans-serif;
}
h1{
  font-family: 'Capriola', sans-serif;
}